/* 「このブログについて」を表示しない */
div.profile-about {
    display: none;
}


/* 引用 */
.entry-content blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    background: #efefef;
    color: #555;
}

/* 引用 p要素 */
.entry-content blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

/* 引用　cite部分 */
.entry-content blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

/* mermaid の図を中央寄せする */
.mermaid {
    text-align: center;
}

/* サイドバーのカレンダーのリンクを目立たせる */
.calendar-day a { /* 記事へのリンク */
    display: block;
    text-decoration:none;
    transition: 0.3s;
    background: #e2e2e2;
    color: green;
    font-weight: 800;
}

.blueframe {
    color: #3f87ce; /*文字色*/
    background-color: #e4fcff;/*背景色*/
    padding: 10pt;
    border: solid 3px #c6e4ff;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin-bottom: 19px;
    margin-top: 19px;
}

.redframe {
    color: #ff7d6e; /*文字色*/
    background-color: #ffeaea;/*背景色*/
    padding: 10pt;
    border: solid 3px #ffc3c3;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin-bottom: 19px;
    margin-top: 19px;
}

/* 灰色の枠 */
.grayframe {
    color: #808080; /*文字色*/
    background-color: #f4f4f4;/*背景色*/
    padding: 10pt;
    border-radius: 10px;/*角の丸み*/
    border: solid 3px #efefef;/*線*/
    margin-bottom: 19px;
    margin-top: 19px;
}


/* コードブロックの背景色などを変える */
.entry-content pre.code {
    font-size: .8rem;
    margin: 1.5rem 0;
    padding: 1.5rem 0.5rem;
    background-color: #364549;
    color: #e3e3e3;
}

/*コードブロックにおける言語名表示*/
.entry-content pre.code:not([data-lang=""]) {
    padding: 2.3rem 0.5rem 1.5rem;
}
.entry-content pre.code:not([data-lang=""]):before {
    content: attr(data-lang);
    display: inline-block;
    color: #eee;
    background-color: #777;
    padding: 2px 4px;
    position: absolute;
    transform: translateY(-2.3rem);
    word-break: break-all;
}
    

